<footer>
    <div class="container">
        <div class="wrapper">
            <div class="branding">
                <h1>MOVIE<span>EASY</span></h1>
                <h4>&copy; Mahendar Kolpula</h4>
            </div>
            <div class="about-me">
                <h1>About Me</h1>
                <p>
                    <span>"</span> I am passionated and entusiastic FrontEnd Developer<span> "</span>
                </p>
            </div>
            <div class="data-sources">
                <h1>Tools Used</h1>
                <div class="links">
                    <a href="https://www.themoviedb.org/">TMDB API</a>
                    <a href="https://www.npmjs.com/package/speak-tts">SPEAK TTS</a>
                </div>
            </div>
            <div class="social">
                <h1>Let's Connect</h1>
                <div class="links">
                    <a href="https://github.com/mahendar7"><i class="fa fa-github" aria-hidden="true"></i> GitHub </a>
                    <a href="https://www.linkedin.com/in/mahendar-kolpula-245b43115/"><i class=" fa fa-linkedin"
                            aria-hidden="true"></i>
                        LinkedIn </a>
                </div>
            </div>
        </div>
    </div>
</footer>