$red-color: #f26e6b;
$white-color: #fdfefd;
$black-color: #171717;
$san-color: #375369;
$yellow-color: #FFCB2B;

$primary: #1E1E1E;
$dark: #121212;
$pure: #ffffff;
$gray: #1d1d1d;
$mild: #b9b8b8;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
